<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @artist.name %></h1>
    <ul>
    <%= @artist.songs.each do |song| %>
      <li><%= link_to song.title, song_path(song.id) %></li>
    <% end %>
    </ul>
  </body>
</html>
